<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="login-box">
      <a href="/" class="back"> Back to homePage </a>
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="user-box">
            <span style="color: white; padding:4px"><%= error%></span>
            
            <input type="text" name="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
          <p class="signup">Don't have account?<a href="/signup"><span>Signup</span> </a></p>
  
        </form>
      </div>
</body>
</html>