<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <h1>Share Your project</h1>
    <a href="/profile" class="back"> <-Back </a>
<form class="cf" action="/submitProject" method="post" enctype="multipart/form-data">
  <div class="half left cf">
    <input type="text" id="input-name" name="projectname" placeholder="Project Name">
    <input type="text" id="input-email" name="studentname" placeholder="Student Name">
    <input type="text" id="input-subject" name="link" placeholder="Projectlink">
    <input type="file" id="input-subject" name="file" placeholder="Project image">

    <input type="submit" value="Submit" id="input-submit">
  </div>
 
</form>
    
</body>
</html>

